@font-face {
    font-family: cubic;
    src: url(cubic.ttf);
}

@font-face {
    font-family: keep;
    src: url(keep.ttf);
}

@font-face {
    font-family: simple;
    src: url(simple.ttf);
}

@font-face {
    font-family: ass;
    src: url(ass.ttf);
}